
body{ 
    padding: 0;
    margin: 0;
    font-family: 'Itim', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
    font-style:normal;
    background-color: rgb(131, 183, 185);
}
h1{
    text-align: center;
}

.cosas{
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.tablero{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 40% 40% 40%;
    grid-template-rows: 40% 40% 40%;
    max-width: 300px;
}
.casilla{
    border: 2px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.casilla:hover{
    background-color: gainsboro;
}
.clasificacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}
.contador{
    border: 2px solid black;
    text-align: center;
    font-size: small;
    width: 100px;
    height: 60px;
}

.jugador{
    border-bottom: 2px solid black;
}
button{
    background-color: grey;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}

button:active{
    background-color: gainsboro;
    color: black;
}
